{
  "extends": [
    "eslint-config-airbnb",
    "plugin:security/recommended"
  ],
  "plugins": [
    "import"
  ],
  "rules": {
    "no-mixed-operators": [
      "warn",
      {
        "groups": [
          ["&", "|", "^", "~", "<<", ">>", ">>>"],
          ["==", "!=", "===", "!==", ">", ">=", "<", "<="],
          ["&&", "||"],
          ["in", "instanceof"]
        ],
        "allowSamePrecedence": false
      }
    ],
    "import/prefer-default-export": "off",
    "max-len": ["error", 120],
    "import/no-cycle": 0
  }
}